@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    background-color: #231f20 !important;
}

.page-section.page-section__intro {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

.page-section__gallery__card .center {
    text-align: center !important;
}

.page-section.page-section__gallery {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 48px 0;
}

.page-section.page-section__gallery p {
   font-size: 1.5rem;
   text-align: justify;
   margin: 4px 0;
}

.carousel.carousel-slider {
    border-radius: 8px;
}

.page-section__gallery__col:first-of-type {

    margin-top: 48px;
}

.page-section__gallery__col:last-of-type p {
    font-size: 1.5rem;
    padding: 2rem 0;
}

.page-section__contact__input-container {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
}

.page-section__contact {
    display: flex;
    gap: 24px;
}

.page-section__contact iframe {
    border-radius: 12px;    
}

.page-section__contact__input {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 300px;
}

.page-section__contact button {
    margin-top: 12px;    
}

.page-section__contact__form {
    width: 50%;
}

.page-section__contact__text {
    width: 50%;
}

.page-container {
    padding: 0 48px;
}

.page-section__intro__info h1 {
    font-size: 3rem;
    margin: 48px 0;
    text-align: center;
}

.page-section__intro__info p {
    font-size: 2rem;
    text-align: center;
}

.page-section__gallery__card ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 1.5rem;
}

.page-section__gallery__card ul li {
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: inset 2px 2px 10px -2px rgba(0,0,0,0.1);
}

.page-section__gallery__card ul li:last-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: none;
    margin-top: 12px;
}

.dropdownnavbar button {
    color: #d3b642;
    font-weight: 500;
}

.dropdown-menu__dropdown-item span:first-of-type {
    color: #d3b642;
}

.page-section__intro img {
    width: 70%;
    margin: 0 auto;
}

@media (max-width: 1024px) {

    .page-section__intro img {
        width: 100%
    }

    .page-section__contact__input-container {
        flex-direction: column;
    }

    .page-section__contact {
       flex-direction: column;
    }

    .page-section__contact button {
        width: 100%;
        
     }

    .page-section__contact__form {
        width: 100%;
        
    }
    
    .page-section__contact__text {
        width: 100%;
        
    }

    .page-section__contact {
        margin: 20px 0;

    }

    .page-section.page-section__intro {        
        margin-top: 0;
    }

    .page-container {
        padding: 0 12px;
    }

    .page-section__gallery__col:last-of-type p {
        font-size: 1rem;
        padding: 1rem 0;
        text-align: center;
    }    

    .page-section__intro__info {
        font-size: 1rem;
    }

    .page-section__gallery__card ul {
        font-size: 1rem;
    }
}
