@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    background-color: #121010 !important;
}

.page-section.page-section__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/conffeti_gold.png');
    background-size: contain;     

}

.page-section.page-section__gallery {
    background-image: url('/conffeti_gold.png');
    background-size: contain;
    display: flex;
    flex-direction: column;
}

.page-section__gallery__col:first-of-type {
    margin-top: 48px;
}

.page-section__gallery__col:last-of-type p {
    font-size: 1.5rem;
    padding: 2rem 0;
}

.page-section__contact__input-container {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
}

.page-section__contact {
    display: flex;
    gap: 24px;
    margin: 0 48px;
}

.page-section__contact iframe {
    border-radius: 12px;    
}

.page-section__contact__input {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 300px;
}

.page-section__contact button {
    margin-top: 12px;    
}

.page-section__contact__form {
    width: 50%;
}

.page-section__contact__text {
    width: 50%;
}

.page-section__intro__info h1 {
    font-size: 2rem;
    margin: 8px 0;
    text-align: center;
}

.page-section__intro__info p {
    font-size: 2rem;
    text-align: center;
}

.dropdownnavbar button {
    color: #d3b642;
    font-weight: 500;
}

.dropdown-menu__dropdown-item span:first-of-type {
    color: #d3b642;
}

.page-section__intro img {
    width: 70%;
    margin: 0 auto;
}

.send-email__btn:hover {
    color: #d3b642 !important;
}

.page-modal__age {
    color: #d3b642;
}

.page-modal__container {
    text-align: center;
}

.page-modal__container__title {
    color: #d3b642;
}

.page-section__intro__info__map {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.page-section__intro__info__map svg {
    color: #d3b642;
    cursor: pointer;
}

.dropdown-navbar__social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

}

.dropdown-navbar__social svg:hover {
    color: #d3b642;
    cursor: pointer;
    
}

.contact-info {
    text-transform: uppercase;
    margin-bottom: 12px;
}

footer {
    gap: 4px;
    flex-direction: column;
}

footer span {
    color: #d3b642 !important;
}

.social__container {
    position: fixed;
    right: 16px;
    bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 12px;
    border-radius: 24px;
    background-color: #231f20;
    cursor: pointer;
    opacity: 0.8;
}

.social__container svg {
    color: #d3b642;
    font-size: 24px;
}

.page-section__intro__info-date {
    background: linear-gradient(90deg, rgba(211,182,66,1) 0%, rgba(233,212,120,1) 50%, rgba(224,177,70,1) 100%);
    padding: 0px 12px;
    border-radius: 24px;
    width: -moz-fit-content;
    width: 60%;
    margin: 0 auto;
    color: #231f20;
    margin-bottom: 32px;
}

.page-section__intro__info {
    margin-bottom: 60px;
}

.page-section__gallery__card {    
    margin: 24px;
    opacity: 0.9;
}

.page-section__gallery__card h1 {
    font-size: 2rem;
    text-align: center;
    margin: 24px 0;
}   

.page-section__gallery__card-items {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.page-section__gallery__card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 150px;
    gap: 24px;
}

.page-section__gallery__card-item svg {
    font-size: 3rem;
    color: #d3b642;
    
}

.page-section__gallery__card-item p {
    font-size: 1.2rem;
    text-align: center;
}

.page-section__gallery__card-bullets {
    margin: 42px;
}

.page-section__gallery__card-important {
    text-align: center;
}

.page-section__gallery__card-btn {
    width: 15%;
    margin: 24px auto;
    padding: 4px 0;
    border: 1px solid #d3b642;
    border-radius: 16px;
    cursor: pointer;   
}

.page-section__gallery__card-btn:hover {
    background-color: rgba(211, 182, 66, 1);
    -webkit-transition: background 1s; /* For Safari */
    transition: background 1s; /* For modern browsers */  
}

@media (max-width: 1024px) {

    .page-section__intro img {
        width: 100%
    }

    .page-section__contact__input-container {
        flex-direction: column;
    }

    .page-section__contact {
       flex-direction: column;
    }

    .page-section__contact button {
        width: 100%;
        
     }

    .page-section__contact__form {
        width: 100%;
        
    }
    
    .page-section__contact__text {
        width: 100%;
        
    }

    .page-section__contact {
        margin: 0;

    }

    .page-section.page-section__intro {        
        margin-top: 0;
    }

    .page-container {
        padding: 0 12px;
    }

    .page-section__gallery__col:last-of-type p {
        font-size: 1rem;
        padding: 1rem 0;
        text-align: center;
    }    

    .page-section__intro__info h1 {
        font-size: 2rem;
        margin: 24px 0;
        text-align: center;
    }

    .page-section__intro__info p {
        font-size: 1rem;

    }
}
